* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 44px;
  height: 44px;
  padding: 0;
  text-align: center;
  width: 40px;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
}

.board-row:after {
  clear: both;
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .board-row{
  margin: 0 40%;
} */

.status {
  margin-bottom: 10px;
}

.reset{
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px;
  background-color: rgb(227, 159, 85);
  border-radius: 10px;
  transition: all 1s ease-in;
  color: white;
  letter-spacing: 1px;
  /* margin: 10px auto; */
  font-family: 'Times New Roman', Times, serif;
}

.reset:hover{
  opacity: 0.8;
}

