* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.square.green{
  background-color:rgb(68, 219, 68) ;
  color: white;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 44px;
  height: 44px;
  padding: 0;
  text-align: center;
  width: 40px;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
}

.board-row:after {
  clear: both;
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
}


.status {
  margin-bottom: 10px;
}

.reset{
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px;
  background-color: rgb(227, 159, 85);
  border-radius: 10px;
  transition: all 1s ease-out;
  color: white;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;
}

.reset:hover{
  opacity: 0.5;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.buttons{
  display: flex;
}

.buttons> button{
  border-radius: 9px;
  border: none;
  padding: 9px;
  background-color: thistle;
  transition: all 1ms ease-out;
}

.buttons> button:hover{
  scale: 1.1;
}

